.mainBody {
    background-color: maroon;
    background-size: cover;
}

h1 {
    font: 48px arial bold;
    background-color: orange;
}

.tableSet, th, td {
    font: 16px Arial;
    color: greenyellow;
    border: 2px solid;
    margin: 5px;
    padding: 2px;
}

.dataProp {
    float: left;
}

.explanation {
    color: white;
    font-size: 24px;
    margin: 5px;
    padding: 2px;
}